{% extends 'layout.html' %}


{% block body %}
    <nav style="background: rgb(49,107,85);color: #ffffff;" class="navbar fixed-top flex-md-nowrap p-0 shadow">
      <img style="margin-left:40px;" src="../static/AS_PARTNERS.jpg" height="40px;" />
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a style="text-decoration:none;color:#ffffff;" class="nav-link" href="/logout">Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/searchClient">
                  <span data-feather="user-plus"></span>
                  Clientes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/request/client">
                  <span data-feather="file"></span>
                  Fazer pedido
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="book"></span>
                  Carteira de credito
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart"></span>
                  Gestão de clientes
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Buscar por clientes</h1>
          </div>

          <div class="container">

            <ul id="menu" class="nav nav-pills nav-fill">

            </ul>

            <hr>

            {% include '/include/'+end+'.html' %}

          </div>



        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
      $("#formDados").submit(function(){
        return false;
      });

      $(document).ready(function() {
        var end = {{end|tojson}}
        itens = []

        if(end == 'pessoaJuridica') {
          itens = ("<li class='nav-item'><a class='nav-link active' href='/searchClient'>Pessoa Juridica</a></li><li class='nav-item'><a class='nav-link' href='/pessoaFisica'>Pessoa Fisica</a></li>")
        } else {
          itens = ("<li class='nav-item'><a class='nav-link' href='/searchClient'>Pessoa Juridica</a></li><li class='nav-item'><a class='nav-link active' href='/pessoaFisica'>Pessoa Fisica</a></li>")
        }

        $("#menu").append(itens);
      });
    </script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>

{% endblock %}
